<div class="tat-view tat-releaseview">

  <div ng-hide="ctrl.data.isTopicRw" class="alert alert-info tat-alert-fixed">
    <i class="fa fa-info-circle"></i> {{ 'shared_message_read_only' | translate }}
  </div>

  <!-- tat-msg-create -->
  <div class="row tat-msg-create" data-ng-if="!ctrl.data.displayOnCall">
    <form method="post" action="/">
      <div class="tat-msg-input" ng-show="ctrl.data.showNewRelease && ctrl.data.isTopicRw">
        <div class="message-popup-results"></div>
        <textarea dir="auto" name="msg"
          ng-enter="ctrl.createMessage()"
          ng-focus="createMessageFocus=true"
          ng-blur="createMessageFocus=false"
          ng-model="ctrl.currentMessage"
          placeholder="{{ 'release_message_compose_placeholder' | translate }}">
        </textarea>
        <i ng-click="ctrl.createMessage()" class="icon-paper-plane fa fa-send-o" title="{{ 'shared_message_send' | translate }}"></i>
      </div>

      <div class="btn-group">
        <a class="btn btn-default" ng-show="ctrl.data.showNewRelease" ng-click="ctrl.data.showNewRelease=false">
          <i class="icon-cancel fa fa-times"></i>
        </a>
        <div class="btn btn-default" data-ng-show="!ctrl.data.showNewRelease && ctrl.data.isTopicRw"
         data-ng-click="ctrl.data.showNewRelease = true">
          <i class="fa fa-edit"></i>
        </div>
        <a class="btn btn-default" ng-click="ctrl.filterDialog.visible=!ctrl.filterDialog.visible" ng-class="{'open': ctrl.filterDialog.visible}">
          <i class="fa fa-filter"></i>
        </a>
      </div>
      <div ng-if="ctrl.currentMessage.length > 0" class="tat-remaining-chars" ng-hide="!createMessageFocus">
        <i>{{ 'shared_message_characters_left' | translate }}: {{ ctrl.data.topic.maxlength - ctrl.currentMessage.length }}</i>
      </div>
      <div class="formatting-tips" aria-hidden="true" dir="auto"></div>
    </form>
    <message-filter-bar></message-filter-bar>
    <div movable-dialog title="'Filter'" ng-model="ctrl.filterDialog">
      <message-filter topic="ctrl.data.topic"></message-filter>
    </div>
  </div>
  <!-- /tat-msg-create -->

  <div class="row">
    <div data-ng-class="(message && message.displayed) ? 'message-releaseview-list col-md-7': 'message-releaseview-list col-md-12'">
      <table class="table table-striped">
        <tbody>
        <tr ng-repeat="msg in ctrl.data.messages" ng-class="msg.displayed ? '': ''" class="message-releaseview-wrapper" ng-show="!msg.hide">
          <td  style="border-left: 8px solid {{msg.releaseColor}};">

            <div title="creation: {{msg.dateCreation * 1000| amCalendar}}, update: {{msg.dateUpdate * 1000| amCalendar}}">
              <h3><b><span ng-bind-html="msg.release"></span></b></h3>
              <span data-ng-if="msg.releaseDate"> {{msg.releaseDate}}</span>
              <span data-ng-if="!msg.releaseDate"> {{msg.dateUpdate * 1000  | amCalendar}}</span>
            </div>
            <span class="badge" data-ng-repeat="attr in msg.attrs track by $index">
              {{attr}}
            </span>

            <span data-ng-repeat="label in msg.labels track by $index"
                class="badge tlabel"
                style="background-color: {{label.color}}; color: {{ctrl.getBrightness(label.color)>128 ? '#000000' : '#ffffff' }}">
              <i class="fa fa-tags"></i> {{label.text}}
            </span>
          </td>
          <td class="message-releaseview-wrapper">
              <h4 ng-bind-html="ctrl.getTitleExceptRelease(msg)"></h4>
              <table>
                <tbody>
                <tr data-ng-repeat="(key, replies) in msg.sections track by $index">
                  <td>
                    <div>
                      <h4>{{key}}</h4>
                    </div>
                    <ul>
                      <li ng-repeat="r in replies track by $index" ng-bind-html="r | linky">
                      </li>
                    </ul>
                  </td>
               </tr>
               </tbody>
             </table>
          </td>
          <td>
            <a ng-class="msg.displayed ? 'btn btn-xs btn-primary': 'btn btn-xs'" data-ng-href="#" data-ng-click="ctrl.toggleMessage(msg)">
              <i ng-class="msg.displayed ? 'fa fa-angle-down': 'fa fa-angle-right'"></i></a>
          </td>
        </tr>
      </tbody>
      </table>
    </div>
    <div class="col-md-5" ng-if="message && message.displayed">
      <div class="releaseview-message-right">
        <button class="btn btn-default btn-xs pull-right" data-ng-click="ctrl.closeMessage()">X</button>
        <messages-releaseview-item
               data-topic="ctrl.topic"
               data-message="message"
               data-is-topic-bookmarks="ctrl.isTopicBookmarks"
               data-is-topic-tasks="ctrl.isTopicTasks"
               data-is-topic-deletable-msg="ctrl.data.isTopicDeletableMsg"
               data-is-topic-updatable-msg="ctrl.data.isTopicUpdatableMsg"
               data-is-topic-deletable-all-msg="ctrl.data.isTopicDeletableAllMsg"
               data-is-topic-updatable-all-msg="ctrl.data.isTopicUpdatableAllMsg"
               data-is-topic-rw="ctrl.isTopicRw"></messages-releaseview-item>
      </div>
    </div>
  </div>

  <div class="row">
    <button data-ng-disabled="!ctrl.data.displayMore" data-ng-click="ctrl.loadMore()" class="btn btn-default">
      <span data-ng-show="!ctrl.data.displayMore">No</span> More
    </button>
  </div>
</div>
