<section class="message-releaseview-wrapper " data-ng-hide="message.hide">
  <div class="row">

      <div ng-hide="message.inReplyOfIDRoot != ''">

        <!-- Message controls -->
        <div class="btn-group">

          <button class="btn btn-default" data-ng-click="MessageReleaseviewItemCtrl.setTo(message, 'develop')">
              <i class="fa fa-tag"></i> Set to Develop
          </button>
          <button class="btn btn-default" data-ng-click="MessageReleaseviewItemCtrl.setTo(message, 'staging')">
              <i class="fa fa-tag"></i> Set to Staging
          </button>
          <button class="btn btn-default" data-ng-click="MessageReleaseviewItemCtrl.setTo(message, 'preprod')">
              <i class="fa fa-tag"></i> Set to Preprod
          </button>
          <button class="btn btn-default" data-ng-click="MessageReleaseviewItemCtrl.setTo(message, 'done')">
              <i class="fa fa-tag"></i> Set to Done
          </button>

          <!-- Reply -->
          <button
            title="{{ 'shared_message_reply' | translate }}"
            class="btn btn-default"
            ng-click="replying=!replying"
            ng-class="{'open': replying}"
            ng-disabled="message.updating || message.deleting">
            <i class="fa fa-comments"></i>
          </button>

          <!-- Edit message -->
          <button
            title="{{ 'shared_message_update' | translate }}"
            class="btn btn-default"
            ng-click="message.updating=!message.updating"
            ng-class="{'open': message.updating}"
            ng-if="isTopicUpdatableMsg || isTopicUpdatableAllMsg"
            ng-disabled="replying || message.deleting">
            <i class="fa fa-pencil"></i>
          </button>

          <!-- Delete message -->
          <button
            title="{{ 'shared_message_delete' | translate }}"
            class="btn btn-default"
            ng-click="message.deleting=!message.deleting"
            ng-class="{'open': message.deleting}"
            ng-disabled="replying || message.updating"
            ng-if="isTopicDeletableMsg || isTopicDeletableAllMsg">
            <i class="fa fa-trash"></i>
          </button>

        </div>

        <!-- Message actions -->
        <div class="btn-group">

          <!-- Add label -->
          <button
            title="{{ 'shared_message_label_add' | translate }}"
            class="btn btn-default"
            ng-class="{'open': addingLabel}"
            ng-click="addingLabel=!addingLabel">
            <i class="fa fa-tag"></i>
          </button>

        </div>

        <!-- Add Label -->
        <message-label message="message" topic="topic" is-displayed="addingLabel"></message-label>
      </div>

      <user-display username="message.author.username" fullname="message.author.fullname"></user-display>
      <span class="message-releaseview-date">{{message.dateCreation * 1000| amCalendar}}</span>
      <span class="badge tlabel"
            style="background-color: {{label.color}}; color: {{MessageReleaseviewItemCtrl.getBrightness(label.color)>128 ? '#000000' : '#ffffff' }}"
            data-ng-repeat="label in message.labels track by label.text">
          <i class="fa fa-tags"></i> {{label.text}}
          <a role="button" data-ng-click="MessageReleaseviewItemCtrl.removeLabel(message, label.text)">X</a>
      </span>

      <div class="message-releaseview-content" ng-bind-html="message.text | linky | nl2br | parseTags:message.tags"></div>

      <div class="message-releaseview-reply" data-ng-show="replying">
          <textarea class="form-control" data-ng-model="MessageReleaseviewItemCtrl.replyText"></textarea>
          <button class="btn btn-primary"
                  data-ng-click="MessageReleaseviewItemCtrl.replyMessage(message); $event.stopPropagation();">
              <i class="fa fa-reply-all"></i>
              Reply
          </button>
          <button class="btn btn-default" data-ng-click="replying=false">
              <i class="fa fa-ban"></i>
              {{ 'shared_common_cancel' | translate }}
          </button>
      </div>
      <div class="message-reply" data-ng-show="message.updating">
          <textarea class="form-control" data-ng-model="message.text"></textarea>
          <button class="btn btn-primary"
                  data-ng-click="MessageReleaseviewItemCtrl.updateMessage(message); $event.stopPropagation();">
              <i class="fa fa-pencil-square-o"></i>
              Update
          </button>
          <button class="btn btn-default" data-ng-click="message.updating=false">
              <i class="fa fa-ban"></i>
              {{ 'shared_common_cancel' | translate }}
          </button>
      </div>
      <div data-ng-show="message.deleting">
          <button class="btn btn-danger"
                  data-ng-click="MessageReleaseviewItemCtrl.deleteMessage(message);">
              <i class="fa fa-trash"></i>
              Confirm Delete <span ng-show="message.replies.length">message and replies</span>
          </button>
          <button class="btn btn-default" data-ng-click="message.deleting=false">
              <i class="fa fa-ban"></i>
              {{ 'shared_common_cancel' | translate }}
          </button>
      </div>
  </div>

  <div class="releaseview-replies-right" ng-if="message.replies.length">
    <button title="search in replies" class="btn btn-xs" ng-if="!message.searching" data-ng-click="message.searching=true">
      <i class="fa fa-search"></i>
    </button>

    <div class="input-group" ng-if="message.searching">
      <div class="input-group-addon" data-ng-click="message.searching=!message.searching"><i class="fa fa-search"></i></div>
      <input type="search" class="form-control" data-ng-model="message.search" placeholder="search in reply">
      <div class="input-group-addon" data-ng-click="message.searching=false"><i class="fa fa-ban"></i></div>
    </div>

    <table class="table table-striped">
      <tbody>
      <tr data-ng-repeat="reply in message.replies | filter:message.search">
        <td data-ng-if="!reply.hide">
          <user-display username="reply.author.username" fullname="reply.author.fullname"></user-display>
          <span class="message-releaseview-date" title="creation: {{reply.dateCreation * 1000| amCalendar}}, update: {{reply.dateUpdate * 1000| amCalendar}}">
            {{reply.dateCreation * 1000| amCalendar}}
          </span>
          <button class="btn btn-xs" data-ng-click="reply.updating=true"><i class="fa fa-pencil"></i></button>
          <button class="btn btn-xs" data-ng-click="reply.deleting=true"><i class="fa fa-trash"></i></button>
          <div ng-bind-html="reply.text | linky | nl2br | parseTags:reply.tags"></div>
          <div ng-if="reply.updating">
            <textarea class="form-control" data-ng-model="reply.text"></textarea>
            <button class="btn btn-primary" data-ng-click="MessageReleaseviewItemCtrl.updateMessage(reply);">
                <i class="fa fa-pencil-square-o"></i>
                Update
            </button>
            <button class="btn btn-default" data-ng-click="reply.updating=false">
                <i class="fa fa-ban"></i>
                {{ 'shared_common_cancel' | translate }}
            </button>
          </div>
          <div data-ng-if="reply.deleting">
              <button class="btn btn-danger"
                      data-ng-click="MessageReleaseviewItemCtrl.deleteMessage(reply);">
                  <i class="fa fa-trash"></i>
                  Confirm Delete
              </button>
              <button class="btn btn-default" data-ng-click="reply.deleting=false">
                  <i class="fa fa-ban"></i>
                  {{ 'shared_common_cancel' | translate }}
              </button>
          </div>
        </td>
     </tr>
     </tbody>
   </table>
 </div>

</section>
